<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gibutadieta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logosaude"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConsumoLiquido"
            android:label="@string/title_activity_consumo_liquido"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Definicoes"
            android:label="@string/title_activity_definicoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sobre"
            android:label="@string/title_activity_sobre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dados"
            android:label="@string/title_activity_dados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eliminar"
            android:label="@string/title_activity_eliminar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Editar"
            android:label="@string/title_activity_editar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Preencher"
            android:label="@string/title_activity_preencher"
            android:parentActivityName=".Content_menus"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gibutadieta.Content_menus" />
        </activity>
        <activity
            android:name=".Content_menus"
            android:label="@string/title_activity_content_menus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:authorities="com.example.gibutadieta"
            android:name=".GibutaDietaContetProvider"
            android:exported="false" />
    </application>

</manifest>